body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.logo img{
    height: 50px;
    width: 170px;
    margin-left: 20px;
}
.header {
    width: 95.5vw;
    position: absolute;    
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    z-index: 1;
}
.header a {
    color: #333;
    text-decoration: none;
    padding: 15px 15px 10px 10px;
}
.header a:hover{
    color: #397538;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    color: #397538;
    background-color: #397538;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.header .select{
    font-weight: bold;
    color: #397538;
}
.hero {
    height: 70vh;
    position: relative;
    background: url('../assects/mission.jpg') no-repeat center center/cover;
    color: #333;
    text-align: center;
    padding: 100px 20px;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.hero-content {
    position: relative;
    z-index: 1;
}
.hero h1 {
    font-size: 3em;
    margin: 150px 0px 0px 0px;
}
.hero p {
    font-size: 1.2em;
    margin: 10px 0 0;
}
.section {
    padding: 60px 0px 60px 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.section img{
    margin-left: 70px;
    height: 400px;
}
.info h1{
    color: #2d6330;
    margin: 10px 0px 0px 20px;
}
.section .info{
    display: flex;
    flex-direction: column;
    margin: 0px 30px 0px 30px;
}
.section .info p{
    margin-left: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
    max-width: 500px;
}
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.team-member {
    width: 30%;
    margin: 20px 0;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.team-member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.section2 {
    padding: 0px 20px;
    text-align: center;
}

.section2 h2 {
    margin-top: 0;
}

.feature-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature-card {
    width: 29%;
    margin: 10px 0;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.feature-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}